<script setup>
  import ImagePreviewModal from './ImagePreviewModal.vue';
  import { fileNameToExtension, imageExtensions, shortenFileName } from '@helpers';
  import { getMaterialFileIcon } from "file-extension-icon-js";
  import { ref, onMounted, computed, watch, onUnmounted } from 'vue';
  import { useApiRequest } from '@actions/api';
  import { $toast } from '@config';
  import { usePlatformStore } from '@stores';
  import { useIntersectionObserver } from '@vueuse/core';
  import AllFilesSkeletor from './AllFilesSkeletor.vue';

  import Tabs from 'primevue/tabs';
  import Tab from 'primevue/tab';
  import TabList from 'primevue/tablist';
  import TabPanel from 'primevue/tabpanel';
  import TabPanels from 'primevue/tabpanels';


  const props = defineProps({
      files: { type: Array, default: [] }
  });

  const platformStore = usePlatformStore();

  const uploadedFiles = computed(() => platformStore.getLeadFiles);
  const pagination = computed(() => platformStore.getLeadFilesPagination);
  const $leadId = computed(() => platformStore.getEditLeadId);

  const tabs = ['all', 'images', 'pdf', 'others'];
  const emits = defineEmits(['close']);
  const activeTab = ref('all');
  const originalFiles = ref([]);
  const showFiles = ref([]);
  const isLoading = ref(false);
  const $limit = ref(50);
  const infiniteOvserverRef = ref(null);
  const infiniteLoading = ref(false);
  const isComplete = ref(false);
  const imagePreview = ref(null);

  watch(uploadedFiles, () => showFiles.value = uploadedFiles.value, { deep: true, immediate: true });

  function hideModalHandler() {
      emits('close', {});
  }

  async function fetchLeadFiles(extension = null, stopObserver) {
      let page = pagination.value.next_page;
      if (extension) {

          activeTab.value = extension;

          isComplete.value = false;

          isLoading.value = true;

          page = 1;

      } else {
          infiniteLoading.value = true;
      }

      await platformStore.callFetchFiles({
          lead_id: platformStore.getEditLeadId,
          page,
          limit: $limit.value,
          extension: activeTab.value,
      }, ({ loading, files }) => {

          if (extension) isLoading.value = loading;
          else infiniteLoading.value = loading;

          if (!pagination.value.next_page && !loading) isComplete.value = true;

          if (stopObserver && !pagination.value.next_page && !loading) stopObserver();

      });
  }

  function handlePreviewFile(file) {
      imagePreview.value.preview(file, showFiles.value);
  }

  onMounted(() => {
      const { stop: stopObserver } = useIntersectionObserver(
          infiniteOvserverRef,
          ([{ isIntersecting }], observerElement) => {
              if (
                  pagination.value.next_page &&
                  !isLoading.value &&
                  !infiniteLoading.value &&
                  !isComplete.value &&
                  isIntersecting
              ) fetchLeadFiles(null, stopObserver);
          },
      )
  });
</script>

<template>
  <modal-dialog modal
      :visible="true"
      pt:root:class="rounded-2"
      pt:mask:class="backdrop-blur-sm"
      :style="{ width: `47.2vw` }"
      :breakpoints="{ '1199px': '50vw', '575px': '70vw' }">
      >
      <template #container>
          <Tabs value="all">
              <TabList class="">

                  <Tab class="py-2 text-capitalize ms-2"
                      v-for="(tab, index) in tabs"
                      :key="tab" :class="`${index != 0?'d-none':''} d-lg-block`"
                      @click="fetchLeadFiles(tab)"
                      :value="tab">{{ tab }}</Tab>

                  <Tab class="py-2 ms-auto border-0 d-flex justify-content-start align-items-center"
                      @click="emits('close', false)"
                      value="close">
                      <span class="me-3">
                          {{ pagination?.from ? 1: 0 }} - {{ pagination?.to??0 }} of {{ pagination?.total??0}}</span>
                      <font-awesome-icon icon="fas fa-close"
                          class="text-soft fs-18px"></font-awesome-icon>
                  </Tab>

              </TabList>
              <scroll-panel :dt="{bar: {background: '#aaaaaa',size:'0.2rem'}}"
                  style="width:100%;height:77vh;"
                  class="pb-3 overflow-hidden">

                  <TabPanels class="tab-panels">

                      <TabPanel value="all"
                          class="d-block">

                          <div class="file-box">

                              <template v-if="isLoading">
                                  <all-files-skeletor v-for="(item, index) in 40"
                                      :key="index"></all-files-skeletor>
                              </template>

                              <template v-else-if="!isLoading">

                                  <div class="file-item"
                                      v-for="(file, index) in showFiles"
                                      :key="file.file_id">

                                      <div @click="handlePreviewFile(file)"
                                          class="file">
                                          <FetchImage :src="file.filepath"
                                              :alt="file.filename" />
                                      </div>

                                      <span class="file-title fs-12px text-head text-center">
                                          {{ shortenFileName(file?.filename, 20) }}
                                      </span>

                                  </div>

                              </template>
                              <template v-if="infiniteLoading">
                                  <all-files-skeletor v-for="(item, index) in 16"
                                      :key="index"></all-files-skeletor>
                              </template>

                          </div>
                          <div v-if="!isComplete"
                              class="w-100 py-5"
                              ref="infiniteOvserverRef">
                          </div>

                      </TabPanel>

                  </TabPanels>

                  <div v-if="!showFiles.length && isComplete"
                      class="w-100 h-100 d-flex justify-content-center align-items-center mt-n5">
                      No files available.
                  </div>

              </scroll-panel>

          </Tabs>

      </template>
  </modal-dialog>


  <ImagePreviewModal ref="imagePreview"></ImagePreviewModal>
</template>

<style lang="scss"
  scoped>
  .nav-link {
      font-weight: bold !important;
  }

  .file-box {
      display: flex;
      flex-wrap: wrap;

      .file-item {
          margin: 0px 6px 25px;
          overflow: hidden;
          width: 6rem;
          display: flex;
          flex-direction: column;

          :deep(.file) {
              width: 6rem;
              height: 8rem;
              background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
              background-position: 0px 0px, 10px 10px;
              background-size: 20px 20px;
              background-color: #ffffff;
              border-radius: 3px;
              transition: background-color 0.3s ease-in-out;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 5px;
              border: 1px solid #dddddd;
              font-size: 1rem;
              font-weight: bold;
              color: #364a63;

              img {
                  width: 100%;
                  max-height: 100%;
                  object-fit: contain;
                  font-size: 12px;
                  text-align: center;
              }

              .pdf {
                  color: rgb(255, 36, 106);
              }

              .others {
                  color: #48C9B0;
              }
          }

          &:hover {
              .file {
                  background-color: #F8F9F9;
              }
          }

          .file-title {
              line-height: 15px;
          }
      }
  }
</style>