@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');


*{
  font-family: 'Source Sans Pro', sans-serif !important;
  margin:0px;
  padding:0px;
}
body{
  color:#1f2933;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(237, 237, 237);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(165, 165, 165);
  border-radius: 10px;
}
html{
  scroll-behavior: smooth;
}
button[disabled]{
  cursor:no-drop !important;
  pointer-events:inherit !important;
}
.text-overflow-ellipsis{
  max-width: 'fit-content';
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-direction-column{
  flex-direction: column !important;
}
.w-80{
  width:80% !important;
}
.w-85{
  width:85% !important;
}
.w-90{
  width:90% !important;
}
.w-95{
  width:95% !important;
}


.modal-title{
  color: #333;
  font-weight: 600;
  letter-spacing: 0.01rem;
}
.btn{
  text-transform: capitalize !important;
  font-size: 14px !important;
  letter-spacing: 0.2px;
}
.modal-content{
  border-radius:3px !important;
  .modal-header{
    padding-top:10px;
    border-bottom:1px solid #dddddd;
    padding-bottom:10px;
    .modal-title{
      font-size:16px;
    }
  }
  .modal-footer{
    padding-top:8px;
    border-top:1px solid #dddddd;
    padding-bottom:8px;
    &.flex-between-center{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
.soft-text{
  color: #8094ae!important;
}
.text-soft {
  color: #8094ae!important
}
  
.text-base {
  color: #526484!important
}

.text-head {
  color: #364a63!important
}
.title-dark{
  color: #0c213c!important;
}
.fs-10px{
  font-size:10px !important;
}
.fs-11px{
  font-size:11px !important;
}
.fs-12px{
  font-size:12px !important;
}
.fs-13px{
  font-size:13px !important;
}
.fs-14px{
  font-size:14px !important;
}
.fs-15px{
  font-size:15px !important;
}
.fs-16px{
  font-size:16px !important;
}
.fs-17px{
  font-size:17px !important;
}
.fs-18px{
  font-size:18px !important;
}
.fs-19px{
  font-size:19px !important;
}
.fs-20px{
  font-size:20px !important;
}
.fs-21px{
  font-size:21px !important;
}
.fs-22px{
  font-size:22px !important;
}
.fs-23px{
  font-size:23px !important;
}
.fs-24px{
  font-size:24px !important;
}
.fs-24px{
  font-size:24px !important;
}
.fs-25px{
  font-size:25px !important;
}
.line-height-22px{
  line-height: 22px;
}
.cursor-pointer{
  cursor: pointer;
}
.content{
  position: absolute;
  padding-left: 0rem;
  top: 4rem;
  width: 100%;
  height: 100%;
  @media (min-width: 767px){
    padding-left: 17rem;
    top: 0rem;
  }
  @media (min-width: 1200px){
    padding-left: 22rem;
  }
}



.svg-disabled{
  fill:#bbc8da !important;
  cursor: no-drop;
}
.svg-3{
  fill:#8c949d !important;
}
.svg-4{
  fill:#7e8a97 !important;
}
.svg-5{
  fill:#616e7c !important;
}
.svg-dark{
  fill:#61758e !important;
}



.dropdown > button{
  border-radius:3px !important;
  transition: all 0.2s !important;
}
.dropdown-item{
    border-radius: 0px !important;
    text-decoration: none;
    &:hover{
      color: #1d1e1f !important;
      background-color: #f7f7f9 !important;
    }
    &:active{
      background-color: #e4e7eb !important;
      color: #1f2933 !important;
    }
}




.toggle-checkbox{
  position: relative;
  display: inline-block;
  width: 2.625rem;
  height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #cbd2d9;
  cursor: pointer;
  &.toggle-active{
      background-color: #007ee5;
      .toggle-slider{
          transform: translateX(1.125rem);
          svg {
              opacity: 1 !important;
          }
      } 
  }
  .toggle-slider{
      position: absolute;
      top: 0.1875rem;
      left: 0.1875rem;
      width: 1.125rem;
      height: 1.125rem;
      background-color: #fff;
      border-radius: 50%;
      transition: -webkit-transform .2s ease;
      transition: transform .2s ease;
      transition: transform .2s ease,-webkit-transform .2s ease;
      svg {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
      }
  }
}


// .v-toast__item
.v-toast {
  z-index: 1090999999999999 !important;

  .v-toast__item--success{
    background: rgba(240, 253, 244, 0.95);
    border: solid #1bc058;
    border-width: 1px;
    color: #16a34a;
  }
  .v-toast__item.v-toast__item--success .v-toast__icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 52 52'%3e %3cpath fill='%2316a34a' d='M26 0C11.664 0 0 11.663 0 26s11.664 26 26 26 26-11.663 26-26S40.336 0 26 0zm14.495 17.329l-16 18a1.997 1.997 0 01-2.745.233l-10-8a2 2 0 012.499-3.124l8.517 6.813L37.505 14.67a2.001 2.001 0 012.99 2.659z'/%3e %3c/svg%3e") no-repeat !important;
  }
  .v-toast__item--error{
    background: rgba(254, 242, 242, 0.95);
    border: solid #fa4646;
    border-width: 1px;
    color: #dc2626;
  }
  .v-toast__item.v-toast__item--error .v-toast__icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 51.976 51.976'%3e %3cpath fill='%23e42e2e' d='M44.373 7.603c-10.137-10.137-26.632-10.138-36.77 0-10.138 10.138-10.137 26.632 0 36.77s26.632 10.138 36.77 0c10.137-10.138 10.137-26.633 0-36.77zm-8.132 28.638a2 2 0 01-2.828 0l-7.425-7.425-7.778 7.778a2 2 0 11-2.828-2.828l7.778-7.778-7.425-7.425a2 2 0 112.828-2.828l7.425 7.425 7.071-7.071a2 2 0 112.828 2.828l-7.071 7.071 7.425 7.425a2 2 0 010 2.828z'/%3e %3c/svg%3e") no-repeat !important;
  }

}
.v-toast__item{
  min-height:1em !important;
  box-shadow: none !important;
  .v-toast__icon{
    width:20px !important;
    height:20px !important;
  }
  .v-toast__text{
    padding: 0.5em 1em 0.5em 0.5em !important;
  }
}

// 
@keyframes fade {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes fadeopacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.confirm-dialog-area{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(0 0 0 / 40%);
  animation: fadeopacity 0.2s ease 1 forwards;
  z-index: 999999999999;
}
.confirm-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 280px;
  max-width: 500px;
  height: auto;
  background: #ffffff;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  border-top: 1px solid white;
  animation: fade 0.5s ease 1 forwards;
}
.confirm-dialog h1 {
  text-align: center;
  font-size: 1.2rem;
  margin: 1.5rem 1rem 0.5rem;
}
.confirm-dialog p {
  text-align: center;
  font-size: 1rem;
  margin: 0 2rem 4.5rem;
}
.confirm-dialog button {
  background: transparent;
  border: none;
  height: 3rem;
  font-size: 1rem;
  width: 50%;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.confirm-dialog button:nth-of-type(1) {
  color: #ff0d3a;
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  left: 0;
  border-radius: 0 0 0 10px;
}
.confirm-dialog button:nth-of-type(2) {
  color: #007ee5;
  border-top: 1px solid #dddddd;
  right: 0;
  border-radius: 0 0 10px 0;
}
.confirm-dialog button:focus,
.confirm-dialog button:hover {
  background: #dddddd;
}
.confirm-dialog button:active {
  background: #dddddd;
}
// 

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.spinner {
  animation: rotate 2s linear infinite;
  width: 25px;
  height: 25px;
  margin-right:6px;
  margin-left:-25px;
  &>.path {
    stroke: #1f71ff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}



.add-custom-scrollbar .scrollbar__wrapper{
  height: 100vh;
}
.add-custom-scrollbar .scrollbar__wrapper .scrollbar__scroller{
  height: 100%;
}
.add-custom-scrollbar .scrollbar__wrapper .scrollbar__content.scrollbar__content--horizontal{
  display: block;
}

.custom-form-checkbox{
  color:#616e7c !important;
  position:relative !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: transparent !important;
  input{
      display: none;
  }
  .unchecked{
      display: block;
  }
}

textarea::-webkit-scrollbar {
  width: 5px;
}